{
  Debug => 1,

  # left click action:
  OnClick => '/usr/bin/thunderbird',

  # tooltip bottom:
  ShowHelp => "---\nRight-click: exit\nLeft-click: action",

  # seconds:
  Interval  => '10',

  IconNew   => 'new-24-1.png',
  IconNoNew => 'nonew-24-1.png',
  IconError => 'error-24-1.png',

  IMAP =>
  [
    {
      active    => 1,
      name      => 'Yandex',
      host      => 'imap.yandex.com:993',
      login     => 'xxx@yandex.ru',
      password  => 'xyz',
      
      # relogin after N status() requests:
      reloginafter  => 1024, 

      # show mailboxes in tooltip:
      detailed => 1,

      opt =>
      {
        ssl_version => 'TLSv1',
        use_ssl     => 1,
      },
      mailboxes =>
      [
        'INBOX',
        'Хостинг',
        'Работа',
      ],
    },

    {
      active    => 1,
      name      => 'Mail.RU',
      host      => 'imap.mail.ru:993',
      login     => 'xxx@mail.ru',
      password  => 'xyz',
      reloginafter  => 1024, 
      opt =>
      {
        ssl_version => 'TLSv1',
        use_ssl     => 1,
      },
      mailboxes =>
      [
        'INBOX',
      ],
    },

    {
      active    => 1,
      name      => 'Google',
      host      => 'imap.googlemail.com:993',
      login     => 'xxx@gmail.com',
      password  => 'xyz',
      reloginafter  => 1024, 
      opt =>
      {
        ssl_version => 'TLSv1',
        use_ssl     => 1,
      },
      mailboxes =>
      [
        'INBOX',
      ],
    },

  ],
}
