{
    Debug => 1,
    OnClick => '/usr/bin/evolution',
    #OnClick => sub
    #{
    #  print "Click\n";  
    #},
    Interval  => 2,

    Icons => {
        New       => 'new.png',
        Quit      =>'quit.png',
        Imap      => 'imap.png',
        Error     => 'error.png',
        NoNew     => 'nonew.png',
        ReConnect => 'reconnect.png',
        ReLogin   => 'relogin.png',
        GetMail   => 'getmail.png',
    },

    IMAP =>
    {
        Yandex => 
        {
            # Icon     => 'online',
            Active    => 1,
            Host      => 'imap.yandex.com:993',
            Login     => 'USER@yandex.ru',
            Password  => 'PASSWORD',
            ReconnectAfter  => 128,
            Detailed => 1, 
            Interval  => 1,
            Opt =>
            {
                use_ssl     => 1,
            },
            Mailboxes =>
            [
                'INBOX', 'Работа',
            ],
        },

        'Mail.RU' => 
        {
            # Icon     => 'online',
            Active    => 1,
            Host      => 'imap.mail.ru:993',
            Login     => 'USER@mail.ru',
            Password  => 'PASSWORD',
            ReconnectAfter  => 128, 
            Detailed => 1, 
            Interval  => 2,
            Opt =>
            {
                use_ssl     => 1,
            },
            Mailboxes =>
            [
                'INBOX', 'Job',
            ],
        },

        Goolge => 
        {
            # Icon     => 'online',
            Active    => 1,
            Host      => 'imap.googlemail.com:993',
            Login     => 'USER@gmail.com',
            Password => 'PASSWORD',
            ReconnectAfter  => 128, 
            Interval  => 3,
            Opt =>
            {
                use_ssl     => 1,
            },
            Mailboxes =>
            [
                'INBOX',
            ],
        },
    },
}
